@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.btn-wide {
  width: 150px;
}

.form-container {
  width: 85%;
  margin: auto;
}

.container {
  padding-bottom: 15px;
}

.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

:host /deep/ .ng-dropdown-panel {
  padding-left: 0;
  padding-right: 0;
}

.month-date-picker {
  width: 100%;
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .margin-sm-top-5 {
    margin-top: 5px;
  }
}
